*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}
h2{
    color: #3A3A3A;;
} 
section{
    margin: 50px 0;
}  
.section-title h2{
    font-weight: 700;
    font-size: 24px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.top-header ul{
    list-style: none;
}
.top-header ul li{
    display: inline-block;
    margin-right: 5px;
}
.top-header ul li a{
    text-decoration: none;
    padding: 20px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    text-transform: capitalize;
}
.banner-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 40%;
}
.banner-area h1{
    color: #3A3A3A;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
}
.banner-area p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.btn{
    background: #E02C6D;
    border: none;
    border-radius: 41px;
    color: #fff;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.btn i {
    margin-left: 15px;
    text-align: center;
}
.banner-image{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    padding: 25px;
}
.companies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 41px;

}
.top-hr{
    margin-top: 70px;
}
hr {
    border: none;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.bottom-hr{
    margin-bottom: 100px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 30px;
}
.product-section .section-title{
    text-align: center;
    margin: 50px 0;
    font-weight: 800;
    font-size: 28px;
    padding: 20px 0;
}
.single-product{
    background-color: #fff;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 17px;

}
.single-product img{
    margin-bottom: 16px;
    width: 370px;
}
.single-product h2{
    font-weight: 800;
    font-size: 28px;
    color: #18191F;
    margin-bottom: 6px;
}
.single-product h3{
    font-weight: 500;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.icon i{
    color: #FB8200;
    padding: 8px 0;
}
.icon span{
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
    margin-left: 10px;
    letter-spacing: 0.9px;

}
.icon p{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.018em;
    color: #787885;

}
.see-more{
    text-align: right;
    margin: 50px 0;
}
.see-more a{
    text-decoration: none;
    color: #E02C6D;    ;
}
.see-more i{
    margin-left: 10px;
    padding-right: 20px;
}
.featured-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}
.featured-content{
    margin-left: 130px;
}
.featured-image img {
    width: 540px;
    height: 360px;
}
.featured-content h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    margin: 16px 0;
}
.featured-content p{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.btn-bottom{
    border-radius: 0;
}
.footer-area{
    background-color: #000;
    text-align: center;
    padding: 50px 0;
}
.footer-content h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 3px;
}
.footer-content p{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin-bottom: 3px;
}
.footer-content i{
    color: #fff;
    margin-top: 17px;
    padding: 8px;
    font-size: 24px;
}
.dropdown-menu{
    display: none;
}
.mobile-cart{
    display: none;
}


@media only screen and (max-width: 577px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .top-header{
        display: flex;
        align-items: center;
    }
    .top-header ul{
        display: none;
    }
    .dropdown-menu{
        display: block;
    }
    .mobile-cart{
        display: block;
    }
    .top-header{
        text-align: center;
    }
    .banner-area{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
    .companies{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    hr{
        display: none;
    }
    .products{
        grid-template-columns: auto;
    }
   
    .single-product{
        width: 100%;
    }
    .single-product img {
        width: 100%;
    }
    .featured-section{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        /* align-items: center; */
        padding: 80px 0;
    }
    .featured-content{
        margin-left: 0px;
        /* justify-content: center; */
        text-align: center;
    }
}